.carousel{
    width: 100%;
    position: relative;

    &__image{
        width: 100%;
    }

    &__arrow-wrapper{
        display: flex;
        width: 100%;
        position: absolute;
        justify-content: space-between;
        top: 50%;
        transform: translateY(-50%);
    }

    &__arrow{
        background-color: transparent;
        border: none;
        font-size: 2rem;
        color: white;
    }
}