.card{
    margin: 1rem 0;
    position: relative;
    border-radius: 0.5rem;

    @media screen and (min-width: 600px) {
        margin: 0;
    }

    &__image{
        width: 100%;
        aspect-ratio: 1 / 0.7;
        object-fit: cover;
        border-radius: 0.5rem;

        @media screen and (min-width: 600px) {
            aspect-ratio: 1;
        }        
    }

    &__title{
        padding: 0 0 1rem 0.5rem;
        position: absolute;
        bottom: 0;
        left: 0;
        color: white;
        font-size: 1rem;
    }
}