.logement{

    @media screen and (min-width:800px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .slide{
            grid-column: 1 / span 2;
        }
    }

    &__content{
        
    @media screen and (min-width: 600px) {
        margin-top: 1rem;
    }

        &-title{
            color: hsl(0, 100%, 69%);
            padding-top: 0.5rem;
            font-size: 1.2rem;
            font-weight: 500;
        }

        &-location{
            padding-top: 0.5rem;
            font-size: 0.9rem;
            font-weight: 500;
        }

        &-tag{
            background-color: hsl(0, 100%, 69%);
            display: inline-block;
            border-radius: 0.5rem;
            padding: 0.3rem 1.5rem;
            margin: 0.5rem 0.5rem 0 0;
            color: white;
            font-size: 0.7rem;
            font-weight: 700;
        }
    }

    &__profil-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.5rem 0;
      
        @media screen and (min-width:800px) {
            flex-direction: column-reverse;
            align-items: end;
            padding-top: 1rem;
        }
    }

    &__profil{
        display: flex;
        align-items: center;

        &-name{
            padding-right: 1rem;
            font-weight: 500;
            font-size: 0.75rem;
            text-align: right;
            color: hsl(0, 100%, 69%);
        }

        &-image{
            border-radius: 99999px;
            width: 40px;
        }
    }

    &__description{
        display: flex;
        gap: 2rem;
        width: 100%;
        margin: 1rem 0;

        
        @media screen and (min-width:800px) {
            grid-column: 1 / span 2;
        }
    }

    &__list{
        list-style-type: none;
    }

    &__rating{

        &-star{
            color: rgb(170, 170, 170);

            &--selected{
                color: hsl(0, 100%, 69%);
            }
        }
    }
}