.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    &__logo{
        width: 80px;
    }

    &__menu{
        display: flex;
        gap: 1rem;

        &-link{
            text-decoration: none;
            color: initial;

            &:hover{
                color: hsla(0, 100%, 69%, 1);
            }
        }
    }
}