.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    &__logo{
        width: 100px;
    }

    &__nav{
        display: flex;
        gap: 1rem;
        list-style-type: none;
    }

    &__link{
        text-decoration: none;
        color: inherit;
    }
}