.footer{
    text-align: center;
    padding: 3rem 0;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);

    &__logo{
        width: 120px;
        filter: brightness(100);
        margin-bottom: 0.5rem;
    }
}