*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "montserrat", Arial, sans-serif;
}

@media screen and (min-width: 800px) {
  html{
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  html{
    font-size: 20px;
  }
}