.accordion{
    background: hsla(0, 0%, 97%, 1);
    border-radius: 0.5rem;
    width: 100%;

    &__button{
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: hsla(0, 100%, 69%, 1);
        border: none;
        margin: 1rem 0;
        padding: 0.5rem;
        color: white;
        border-radius: 0.4rem;
    }

    &__content{
        padding: 1rem;
    }
}