.accordion{
    background: rgb(247, 247, 247);
    border-radius: 0.5rem;

    &__button{
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: hsla(0, 100%, 69%, 1);
        border: none;
        margin-top: 1rem;
        padding: 0.5rem;
        color: white;
        border-radius: 0.4rem;
    }

    &__content{
        padding: 1rem;
    }
}